<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Sistema_de_Gestión.Properties.Settings.BoteAgregadosReportesConnectionString"
      connectionString="Data Source=SERVERBA,1434;Initial Catalog=BoteAgregados;Persist Security Info=True;User ID=Admin;Password=Botes2023"
      providerName="System.Data.SqlClient" />
    <add name="BoteAgregadosEntities" connectionString="metadata=res://*/Modelos.BALogin.csdl|res://*/Modelos.BALogin.ssdl|res://*/Modelos.BALogin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BAProductosEntities" connectionString="metadata=res://*/Modelos.BAProductos.csdl|res://*/Modelos.BAProductos.ssdl|res://*/Modelos.BAProductos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BAProveedoresEntities" connectionString="metadata=res://*/Modelos.BAProveedoresModel.csdl|res://*/Modelos.BAProveedoresModel.ssdl|res://*/Modelos.BAProveedoresModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BACategorias" connectionString="metadata=res://*/Modelos.BACategoriasModel.csdl|res://*/Modelos.BACategoriasModel.ssdl|res://*/Modelos.BACategoriasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BAClientesModel" connectionString="metadata=res://*/Modelos.BAClientesModel.csdl|res://*/Modelos.BAClientesModel.ssdl|res://*/Modelos.BAClientesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BAEmpleadosEntities" connectionString="metadata=res://*/Modelos.BAEmpleadosModel.csdl|res://*/Modelos.BAEmpleadosModel.ssdl|res://*/Modelos.BAEmpleadosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BAFacturacionEntities" connectionString="metadata=res://*/Modelos.BAFacturacionModel.csdl|res://*/Modelos.BAFacturacionModel.ssdl|res://*/Modelos.BAFacturacionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BAComprobantesFiscalesEntities" connectionString="metadata=res://*/Modelos.BAConprobantesFiscalesModel.csdl|res://*/Modelos.BAConprobantesFiscalesModel.ssdl|res://*/Modelos.BAConprobantesFiscalesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BAReportesEntities" connectionString="metadata=res://*/Modelos.BAReportesModel.csdl|res://*/Modelos.BAReportesModel.ssdl|res://*/Modelos.BAReportesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BACuentasPorCobrarEntities" connectionString="metadata=res://*/Modelos.BACuentasPorCobrarModel.csdl|res://*/Modelos.BACuentasPorCobrarModel.ssdl|res://*/Modelos.BACuentasPorCobrarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BACotizacionesEntities" connectionString="metadata=res://*/Modelos.BACotizacionesModel.csdl|res://*/Modelos.BACotizacionesModel.ssdl|res://*/Modelos.BACotizacionesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BAVehiculosEntities" connectionString="metadata=res://*/Modelos.BAVehiculosModel.csdl|res://*/Modelos.BAVehiculosModel.ssdl|res://*/Modelos.BAVehiculosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BAPedidosEntities" connectionString="metadata=res://*/Modelos.BAPedidosModel.csdl|res://*/Modelos.BAPedidosModel.ssdl|res://*/Modelos.BAPedidosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BARedaccionesEntities" connectionString="metadata=res://*/Modelos.BARedaccionesModel.csdl|res://*/Modelos.BARedaccionesModel.ssdl|res://*/Modelos.BARedaccionesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBA,1434;initial catalog=BoteAgregados;persist security info=True;user id=Admin;password=Botes2023;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Sistema_de_Gestión.Properties.Settings.BoteAgregadosServerBAConnectionString"
      connectionString="Data Source=SERVERBA,1434;Initial Catalog=BoteAgregados;Persist Security Info=True;User ID=Admin;Password=Botes2023"
      providerName="System.Data.SqlClient" />
    <add name="Sistema_de_Gestión.Properties.Settings.BoteAgregadoLocal"
      connectionString="Data Source=SERVERBA,1434;Initial Catalog=BoteAgregados;Persist Security Info=True;User ID=Admin;Password=Botes2023"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>